* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #003365;
    color: white;
    font-weight: bolder;
    font-size: 3em;
}

/* .box{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    border: 2px solid #003365;
    border-radius: 10px;
    margin: 2rem auto;
} */

.calculator {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    border: 2px solid #003365;
    border-radius: 10px;
    margin: 2rem auto;
}

.calculator > div {
    align-self: center;
    margin: 1rem;
    color: #003365;
    font-weight: bolder;
    font-size: 2em;
}

input[type=text] {
    text-align: center;
    margin: auto;
    border: 2px solid #003365;
    padding: 1rem;
}

button {
    color: white;
    background-color: #003365;
    padding: 1rem;
}
